@font-face {
    font-family: 'Jupiter-Pro';
    src: url('./Jupiter-Pro.ttf');
}

html {
    height: 100vh;}

body {
    background-image: url('./img/85305.jpg');
    background-color: #282c34;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navBar {
    background-color: black;
/*    position: fixed; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border-bottom: white 1px solid;
    
}

.navBar a {
    color: white;
    text-decoration: none;
}

.bannerDiv {
    width: 100%;
    /* height: 250px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
   /* margin-bottom: 2%;
    /*margin-top: 2%; */
    z-index: -10000;
    margin: 0 auto;
    margin-top: -10%;
    
}

.bannerImg {
    width: 100%;
    transform: scale(0.8);
}

.btnDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -1%;
}

.countdown {
    width: 90%;
    color: white;
    font-family: 'Jupiter-Pro';
    text-align: center;
    justify-content: center;
  /*  font-size: 3rem; */
    margin-top: -10%;
    margin-bottom: 3%;
    display: flex;
    flex-flow:row wrap;
}

#remainCount {
    color: yellow;
    margin-left: 1%;
    margin-right: 1%;
}

.btn {
    border: white solid 1px;
    background-color: black;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-top: 3%;
    margin-right: 2%;
    margin-right: 2%;
}

#trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: rgba(0, 0, 0, 0.589);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; 
    opacity: 0;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

#trailer video {
    position: relative;
    max-width: 900px;
    outline: none;
    border: 1px white solid;
}

@media (max-width: 991px) {
    #trailer video {
        max-width: 90%;
        max-height: 90%;
    }
}

/*efeitos */

.btn:hover {
    cursor: pointer;
    
}

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 172vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
}

.modal-body {
    position: absolute;
    color: black;
    background-color: #bdbbc4;
    width: 30%;
    height: 15%;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    text-align: center;
}

.animation-right {
    position: absolute;
    left: -100vw;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
}

@keyframes slide {
    100% { left: 0; }
}
